body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #F6F1F1, #19A7CE, #146C94);
}

h1 {
    font-family: Arial, Helvetica, sans-serif
}

img {
    margin: 10px;
}

button {
    border-radius: 10px;
    border: none;
    background-color: white;
    font-size: 16px;
    padding: 9px 12px;
    margin: 5px;
}
